.album_name{
    font-family: $montserrat;
}
.title_artist{
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
    margin-left: 80px;
}
.line_artist{
    border: none;
    border-top: 2px solid $turqueza;
    border-radius: 5px;
    height: 5px;
    margin-top: 20px;
    width: 300px;
    margin-left: 500px;
}