// Logo
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header_logo {
  float: left ;

  img {
    width: 25%;
    margin-left: 180px ;
    margin-top: 210px ;
  }
}

.logo_text {
  display: inline-block ;
  margin-left: 80px ;

  h2, h3 {
    font-size: 144px ;
    font-weight: bold ;
    margin: 0 auto ;
    font-family: $nunito;
  }
  h3{
    color: $turqueza;
    
  }
}
.wave__footer{
  position: absolute;
  bottom: 0px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}