.content__login--signin {

  float: right ;
}

.login {

  background-color: $graysweet ;
  border-radius: 40px ;
  height: 530px ;
  left: 1050px ;
  position: absolute ;
  top: 150px ;
  text-align: center ;
  width: 290px ;

  span {
      font-family: $montserrat ;
      font-size: 24px ;
      font-weight: 800 ;
  }

  input {
    background-color: $graysweet ;
    border-top:none  ;
    border-left: none ;
    border-right: none ;
    border-bottom: 1px solid black ;
    font-family: $montserrat ;
    font-weight: 800 ;
    padding: 15px 0px ;
    outline: 0px ;
    width: 260px ;

    &::placeholder {
      font-family: $montserrat ;
      font-weight: 800 ;
  }
  }

  button {
    border: none ;
    cursor: pointer ;
    top: 80px ;
    left: 100px ;
    position: relative ;
    width: 50px ;

    &:hover {
      transform: scale(1.1) ;
      transition: 0.5s ;
    }
  }
}

.span__form-login {

  position: relative;
  top: -100px;
  right: 70px;
}
