.content_player {

    background-color: #DEDEDE ;
    border-radius: 15px ;
    position: absolute ;
    height: 85px ;
    left: 621px ;
    top: 18px ;
    width: 45% ;

    button {
        border: none ;
        background: none ;
        cursor: pointer ;
        margin-left: 10px ;
        margin-top: 25px ;
        margin-right: 10px ;
    }
}
.addPlaylist_button {

    position: absolute;
    left: 800px;
    top: -1px;
}
.favorite_button {

    position: absolute;
    left: 750px;
    top: -1px;
}
.cover_song {

    background-color: #f7f1f1 ;
    border-radius: 15px ;
    height: 85px ;
    position: absolute ;
    width: 85px ;
    z-index: 1 ;
}
.lineTimeSong{
    position: absolute;
    height: 7px;
    top: 68px;
    width: 570px;
    left: 150px;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: #fff;
    outline: none;
}
.lineTimeSong::-webkit-slider-thumb{
    transform: scale(1);
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: $turqueza;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: 0.2s;   
}
.lineTimeSong:active::-webkit-slider-thumb{
    transition: 0.2s;
    transform: scale(1.5);
}
.song_time{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    padding: 0 90px 5px ; 
    font-family: $montserrat;
}
#canvas{
    border-radius: 35px;
    margin-left: 350px ;
}